body {
  text-align: center;
  background: linear-gradient(to left, #00AAFF, #00FF6C);
  font-family: sans-serif;
}

#calculationOutput {
  font-size: 16px;
}

.body-div {
  width: 40%;
  height: 75%;
  margin: auto;
  padding-top: 10%;
  display: grid;
}

.output-div {
  font-size: 2em;
  background-color: black;
  color: white;
  grid-template-columns: repeat(1, auto);
  text-align: right;
  padding: 5px;
}

.buttons-div {
  display: grid;
  grid-template-columns: repeat(3 , auto) minmax(10px, auto);
  grid-template-rows: minmax(30px, auto) repeat(5, 50px);
  gap: 5px;
  align-content: center;
}

.buttons-div > button {
  font-size: 2rem;
  border: 1px solid grey;
  background-color: rgba(255,255,255,.75);
}

.buttons-div > button:hover {
  font-size: 2rem;
  border: 1px solid grey;
  background-color: rgba(255,255,255,.9);
}

.row-1-clear {
  grid-column: 1;
  grid-row: 1;
}

.row-1-divide {
  grid-column: 2;
  grid-row: 1;
}

.row-1-multiply {
  grid-column: 3;
  grid-row: 1;
}

.row-1-minus {
  grid-column: 4;
  grid-row: 1;
}

.row-2-7 {
  grid-column: 1;
  grid-row: 2;
}

.row-2-8 {
  grid-column: 2;
  grid-row: 2;
}

.row-2-9 {
  grid-column: 3;
  grid-row: 2;
}

.row-2-plus {
  grid-column: 4;
  grid-row: 2 / 3;
}

.row-3-4 {
  grid-column: 1;
  grid-row: 3;
}

.row-3-5 {
  grid-column: 2;
  grid-row: 3;
}

.row-3-6 {
  grid-column: 3;
  grid-row: 3;
}

.row-4-1 {
  grid-column: 1;
  grid-row: 4;
}

.row-4-2 {
  grid-column: 2;
  grid-row: 4;
}

.row-4-3 {
  grid-column: 3;
  grid-row: 4;
}

.row-4-equals {
  grid-column: 4;
  grid-row: 4 / 5;
}

.row-5-0 {
  grid-column: 1 / 2;
  grid-row: 5;
}

.row-5-decimal {
  grid-column: 3;
  grid-row: 5;
}
